<%= form_tag('/transaction/search', :role => "form" ) do %>
<div class="form-group">

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :date, "Start:"  %>
        <div class='input-group date' id='datetimepicker1'>
          <%= date_field_tag 'start_date', flash[:start_date], class: "form-control" %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :date, "End:"  %>
        <div class='input-group date' id='datetimepicker1'>
          <%= date_field_tag 'end_date', flash[:end_date], class: "form-control" %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :date, ""  %>
        <div class='input-group'>
          <%= submit_tag "Submit", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>




</div>
<% end %>

<% if @trans.any?
      trans = @trans.group(:type).order(:type)
  %>
<%= pie_chart trans.sum(:amount), colors: ["red", "green"] %>
<%= line_chart trans.order(:date).group(:date).sum(:amount), colors: ["red", "green"] %>
<table class="table" style="width:150%;">
  <thead>
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Source</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% @trans.order('date DESC').each do |tran| %>
    <tr class="<%= tran.type=="IncomeTransaction"? "success":"danger" %>">
      <% count = count + 1 %>
      <td><%= count %></td>
      <td><%= tran.date.strftime('%B %e %Y') rescue nil %></td>
      <td><%= tran.type=="IncomeTransaction"? "":"-" %>₹<%= tran.amount rescue nil %></td>
      <td><%= tran.transable.source rescue nil %></td>
      <td><%= link_to "Edit", transaction_url(id: tran.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No transactions found.</p>
<% end %>
