
<%= form_tag(edit_path(@tran.id), :role => "form", method: :put ) do %>
<div class="form-group">
  <input type="hidden" name="type" value="<%= @type %>">
  <div class="form-group">
    <%= label_tag(:amount, "Amount:") %>
    <%= number_field_tag 'amount', flash[:amount], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :date, "Date:"  %>
    <div class='input-group date' id='datetimepicker1'>
      <%= date_field_tag 'date', flash[:date], class: "form-control" %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <% if !@cat.empty? %>
  <div class="form-group">
    <%= label_tag :category, "Category:" %>

    <%= select("category", "category_id", @cat.collect {|p| [ p.source + ' - ' + truncate(p.desc, length: 20), p.id, { data_source: p.source, data_desc: p.desc } ] }, { include_blank: "Add New", selected: flash[:cid] }, :class => "form-control") %>
  </div>
  <% end %>
  <div class="form-group">
    <%= label_tag :source, "Source:" %>
    <%= text_field_tag :source, flash[:source], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :desc, "Desc:" %>
    <%= text_field_tag :desc, flash[:desc], class: "form-control" %>
  </div>
  <%= submit_tag "Save", :class => "btn btn-default" %>

  <%= link_to 'Delete', transaction_delete_path(@tran.id),method: :delete, data: {confirm: "Are you sure?"}, :class => "pull-right btn btn-danger" %>
</div>
<% end %>

<script>
  <% if !@cat.empty? %>
  var source = $('option:selected').attr('data_source');
  var desc = $('option:selected').attr('data_desc');
  $("#source").val(source);
  $("#desc").val(desc);
  if($('option:selected').val()!="")
  {
     $('#source').attr("readonly", true);
     $('#desc').attr("readonly", true);
  }
  else {
    $('#source').attr("readonly", false);
    $('#desc').attr("readonly", false);
  }
  $("#category_category_id").on('change',function(){
    var source = $('option:selected').attr('data_source');
    var desc = $('option:selected').attr('data_desc');
    $("#source").val(source);
    $("#desc").val(desc);
    if($('option:selected').val()!="")
    {
       $('#source').attr("readonly", true);
       $('#desc').attr("readonly", true);
    }
    else {
      $('#source').attr("readonly", false);
      $('#desc').attr("readonly", false);
    }
  });
  <% end %>
  $(function() {
    $('input[name="date"]').datepicker({
        format: 'dd-mm-yyyy'
    });
  });
</script>
