<!DOCTYPE html>
<html>
<head>
  <title>FinanceManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FinMan</a>
      <div class="collapse navbar-collapse">

        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li <%= current_page?(add_income_path) ? 'class=active':'' %> > <%= link_to 'Add Income', add_income_path, :class => 'navbar-link' %> </li>
          <li <%= current_page?(add_expense_path) ? 'class=active':'' %> > <%= link_to 'Add Expense', add_expense_path, :class => 'navbar-link' %></li>
        </ul>
        <% end %>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>

            <li <%= current_page?(edit_user_registration_path) ? 'class=active':'' %> ><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li <%= current_page?(destroy_user_session_path) ? 'class=active':'' %> ><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
          <% else %>
            <li <%= current_page?(new_user_registration_path) ? 'class=active':'' %> ><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li <%= current_page?(new_user_session_path) ? 'class=active':'' %> ><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>


  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-1">
      <div class="container-fluid">
        <p>
        <% if user_signed_in? %>
            Hi, <strong><%= current_user.name %></strong>.
        <% end %> <br /> Welcome to Finance Manager.
        </p>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <% if alert.instance_of? String %>
            <p class="alert alert-danger"><%= alert %></p>
          <% else %>
              <h2><%= pluralize(alert.count, "error") %> prohibited this transaction from being saved:</h2>

              <ul>
              <% alert.each do |key, val| %>
                <li><%= key.to_s.capitalize + ": " + val[0].capitalize %></li>
              <% end %>
              </ul>

          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
